# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.xml]
indent_style = space
indent_size = 2

[*.cs]
indent_style = tab
indent_size = 4
dotnet_diagnostic.CA1304.severity = error
dotnet_diagnostic.CA1305.severity = error
dotnet_diagnostic.CA1307.severity = error
dotnet_diagnostic.CA1310.severity = error

dotnet_analyzer_diagnostic.category-roslynator.severity = default
roslynator_refactorings.enabled = true
roslynator_compiler_diagnostic_fixes.enabled = true

dotnet_diagnostic.AsyncFixer01.severity = suggestion
dotnet_diagnostic.VSTHRD100.severity = suggestion
dotnet_diagnostic.VSTHRD111.severity = suggestion
dotnet_diagnostic.MA0004.severity = suggestion
dotnet_diagnostic.MA0006.severity = suggestion
dotnet_diagnostic.MA0040.severity = suggestion
dotnet_diagnostic.CC0001.severity = suggestion
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.MA0048.severity = none